In [18]:
## importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import re
import math

In [3]:
#reading the data into a variable
data = pd.read_excel('journal.pone.0112102.s005.XLSX')

In [4]:
#peeking at the data
data.head(5)

,test_id,gene_id,gene,locus,sample_1,sample_2,status,value_1,value_2,log2(fold_change),test_stat,p_value,q_value,significant
0,21ur-1,21ur-1,21ur-1,chrIV:16687073-16687098,ref,NSM,NOTEST,0,0,0,0,1,1,no
1,21ur-10,21ur-10,21ur-10,chrIV:16888163-16888184,ref,NSM,NOTEST,0,0,0,0,1,1,no
2,21ur-100,21ur-100,21ur-100,chrIV:5924786-5924807,ref,NSM,NOTEST,0,0,0,0,1,1,no
3,21ur-1000,21ur-1000,21ur-1000,chrIV:14721532-14721553,ref,NSM,NOTEST,0,0,0,0,1,1,no
4,21ur-10000,21ur-10000,21ur-10000,chrIV:17151519-17151540,ref,NSM,NOTEST,0,0,0,0,1,1,no

In [5]:
#getting rid of extra columns
new_data= data[['gene','sample_1','value_1','sample_2','value_2']]

In [6]:
new_data.head(5)

         gene sample_1  value_1 sample_2  value_2
0      21ur-1      ref        0      NSM        0
1     21ur-10      ref        0      NSM        0
2    21ur-100      ref        0      NSM        0
3   21ur-1000      ref        0      NSM        0
4  21ur-10000      ref        0      NSM        0

In [36]:
#making an even smaller dataset
small_data = data[['gene','value_1','value_2']]

In [37]:
#dropping the zeros
smaller_data = small_data[(small_data.T != 0).all()]

In [33]:
#peeking at smaller data
smaller_data.head(5)

          gene   value_1    value_2
13348   2L52.1  12.73480   0.195868
13349  2RSSE.1  25.85350  60.047000
13350  2RSSE.2   2.79648  27.746100
13351   4R79.2   7.41864   2.731750
13353   aagr-1  17.74960   1.499320

In [35]:
#Making sure values didn't get shifted, v1 is with the right v2
new_data.iloc[13353,0:]

gene         aagr-1
sample_1        ref
value_1     17.7496
sample_2        NSM
value_2     1.49932
Name: 13353, dtype: object

In [34]:
#an attempt to make the log2 fold column. I am unsure what keyerror 2 means.

smaller_data['Log2 Fold'] = math.log(smaller_data.value_2[2]) - math.log(smaller_data.value_1[2])

KeyError: 2